* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    display: flex;
    width: 960px;
    height: 960px;
}

.cell {
    background-color: white;
    border: 1px dotted black;
}

.cell:hover {
    background-color: yellow;
}